.story-card{
    height: 300px;
    border-radius: 20px;
    margin: 15px;
    padding: 30px;
    overflow-y: hidden;
    background: -webkit-linear-gradient(top,#000 70%, #fff);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.story-card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
}

h3{
    margin: 0;
}

.story-card-content{
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    text-indent: 40px;
}

.like-button{
    height:30px;
    width:40px;
    background-image: url('/public/LikeButton/liked.png');
    background-size: contain;
    background-color: teal;
}